# Ignore compiled Python files
*.pyc
__pycache__

# Ignore database files
#db.sqlite3

# Ignore static and media files (uncomment if you use these folders)
# /static/
# /media/

# Ignore environment-specific settings (uncomment if you use these files)
# .env
# .env.*

# Ignore log files
#*.log

# Ignore system files
#.DS_Store
#Thumbs.db

# Ignore user-uploaded files (media root)
# media_root/
