{%extends 'main.html'%}
{% load static %}
{%block content%}
{% load custom_filters %}

<div class="club_page">
    <h1><u>{{club.name}} ({{club.abb}})</u></h1>
    <div>
        <img class="ClubLogo" src="{{club.logo.url}}" alt="Club Logo">
    </div>
    <h1><i>{{club.slogan}}</i></h1>
    <hr>
    <h2>League: {{club.league}} ({{club.country}})</h2>
    <h2>Established: {{club.estd}}</h2>
    <hr>
    <h1><u>Home Venue</u></h1>
    <div class="home">
        <h2>{{club.home_venue}}</h2>
        <img class="club_home" src="{{club.venue_pic.url}}" alt="Club Home">
    </div>
    <hr>
    <div class="club_details">
        <p>{{club.description}}</p>
    </div>
    <hr>
    {%if club.ucl_won > 0%}
    <h1><u>UCL Trophy Cabinet</u></h1>
    <div class="trophy_cabinet">
        {% for i in club.ucl_won|custom_range %}
        <img class="trophy" src="{% static 'images/ucl_trophy.png' %}">
        {% endfor %}
    </div>
    <hr>
    {% endif %}
    <h1><u>Current Manager</u></h1>

    <div class="manager_section">
        <div class="manager_details">
            <img class="manager_pic" src="{{club.manager_pic.url}}" alt="Club Manager">
            <h2>{{club.current_manager}}</h2>
        </div>
    </div>
    <hr>
    <div class="club_edit_button">
        <a href="{{club.official_site}}" class="nav_button">
            Visit Official Site
        </a>
        <a href="{%url 'update-club' club.id%}" class="nav_button">
            Edit {{club.name}}'s Details
        </a>
        <a href="{% url 'delete-club' club.id %}" class="nav_button">
            Delete {{club.name}}'s Details
        </a>
    </div>
</div>
{%endblock content%}