{% extends 'main.html' %}
{% block content %}
<h1 class="clubs_page_title">
    Clubs and Details
</h1>
<table class="ClubTable">
    <tr class="header-row">
        <th>Insignia</th>
        <th>Club Name</th>
        <th>Abbreviation</th>
        <th>Country</th>
        <th>Established</th>
    </tr>
    {% for club in clubs %}
    <tr>
        <td><a href="{% url 'club' club.id %}"><img class="TableClubLogo" src="{{club.logo.url}}" alt="Club Logo"></a>
        </td>
        <td><a href="{% url 'club' club.id %}">{{ club.name }}</a></td>
        <td>{{ club.abb }}</td>
        <td>{{ club.country }}</td>
        <td>{{ club.estd }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}