{%extends 'main.html'%}
{%block content%}
<div class="club_page">
    <h1 class="ClubHeading">{{club.name}} ({{club.abb}})</h1>
    <div>
        <img class="ClubLogo" src="{{club.logo.url}}" alt="Club Logo">
    </div>
    <h1><i>{{club.slogan}}</i></h1>
    <h2>League: {{club.league}} ({{club.country}})</h2>
    <h2>Established: {{club.estd}}</h2>
    <div class="club_details">
        <p>{{club.description}}</p>
    </div>
    <div class="club_edit_button">
        <a href="{{club.official_site}}" class="nav_button">
            Visit Official Site
        </a>
        <a href="{%url 'update-club' club.id%}" class="nav_button">
            Edit {{club.name}}'s Details
        </a>
        <a href="{% url 'delete-club' club.id %}" class="nav_button">
            Delete {{club.name}}'s Details
        </a>
    </div>
</div>
{%endblock content%}