{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="home_page_section">
    <div class="about_football-fan">
        <h2 class="about_heading">About Football-Fan</h2>
        <img class="about_fig" src="{% static 'images/site_logo.png' %}">
        <div class="about_text">
            <p>
                "Football Fan" is a vibrant Django project tailored for football enthusiasts, providing a central hub
                for
                accessing and managing extensive football club details. This website offers a rich repository of
                information
                about various football clubs, empowering users to explore, update, and contribute to the growing
                database.
            </p>
            <p>
                "Football Fan" marks a significant milestone as my inaugural Django project, and it embodies not just a
                venture into the world of web development but a profound testament to my unwavering enthusiasm for the
                sport
                of football. As an ardent football enthusiast, I embarked on this journey with a fervent desire to
                create a
                digital haven where fellow football lovers can converge to celebrate their passion for the beautiful
                game.
            </p>

            <p>
                From the very inception of this project, my enthusiasm for football has been the driving force behind
                every
                line of code, every design choice, and every feature implemented. This website is a manifestation of my
                deep-rooted love for the sport, and it reflects my commitment to providing a comprehensive platform for
                fans
                to access, interact with, and contribute to the ever-expanding universe of football club details.
                "Football
                Fan" isn't just a project; it's a labor of love that brings together my technical skills and my genuine
                passion for football to create an immersive and engaging experience for fans worldwide.
            </p>
        </div>
    </div>
    <div class="about_me">
        <h2 class="about_heading">About me</h2>
        <img class="about_fig" src="{% static 'images/my_pic.png' %}">
        <div class="about_text">
            <p>
                Hello, I'm Sagnik Chakraborty, a passionate and multidisciplinary engineer. My journey in the world of
                technology and innovation has been an exciting one, driven by my unwavering enthusiasm for learning and
                embracing new challenges.
            </p>
            <p>
                I hold a BTech degree in Mechanical Engineering and have ventured into various research and development
                projects. From working on cutting-edge robotics research to delving into web development, my curiosity
                knows
                no bounds. I've honed my skills in mechanical design, data analysis, control strategies, and programming
                languages like Python, all while exploring the realms of machine learning.
            </p>
            <p>
                My experiences have not only equipped me with technical expertise but have also instilled in me the
                ability
                to work collaboratively in cross-functional teams and independently with minimal supervision. My journey
                is
                a testament to my dedication to continuous learning and my eagerness to adapt to diverse domains.
            </p>
            <p>
                I'm excited to embark on new ventures and contribute my multidisciplinary mindset to innovative
                projects.
                Join me on this journey of exploration and growth as we navigate the ever-evolving landscape of
                technology
                and creativity.
            </p>
            <p>
                I'm excited to embark on new ventures and contribute my multidisciplinary mindset to innovative
                projects.
                Join me on this journey of exploration and growth as we navigate the ever-evolving landscape of
                technology
                and creativity.
            </p>
            <p>
                Feel free to reach out to me at sagnikchakraborty12@gmail.com or connect with me at (+91)-8158834514.
            </p>
        </div>
    </div>
</div>
{% endblock content %}