{%extends 'main.html'%}
{%block content%}
<div class="club_page">
    <h1>{{int_team.name}} ({{int_team.abb}})</h1>
    <div>
        <img class="ClubLogo" src="{{int_team.logo.url}}" alt="Club Logo">
    </div>
    <hr>
    <div class="club_details">
        <p>{{int_team.description}}</p>
    </div>
    <hr>
    <h1><u>Current Manager</u></h1>
    <div class="manager_section">
        <div class="manager_details">
            <img class="manager_pic" src="{{int_team.manager_pic.url}}" alt="Team Manager">
            <h2>{{int_team.current_manager}}</h2>
        </div>
    </div>
    <hr>
    <div class="club_edit_button">
        <a href="{{int_team.official_site}}" class="nav_button">
            Visit Official Site
        </a>
        <a href="{%url 'update-int-team' int_team.id%}" class="nav_button">
            Edit {{int_team.name}}'s Details
        </a>
        <a href="{% url 'delete-int-team' int_team.id %}" class="nav_button">
            Delete {{int_team.name}}'s Details
        </a>
    </div>
</div>
{%endblock content%}